<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ModelContainerEntities" connectionString="metadata=res://*/ModelContainer.csdl|res://*/ModelContainer.ssdl|res://*/ModelContainer.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=195.87.212.30/Orcl;persist security info=True;user id=IVR&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>