


<div class="alert-box">
    <div class="vertical-helper"></div>
    <div class="alert-box-content">
        <div class="close-button close-action"></div>
        <div class="p-text">
            <h2></h2>
            <p></p>
        </div>
        <div class="clear"></div>
        <div class="t-center">
            <a class="grey-button small close-action" href="javascript:;">Tamam</a>
        </div>
    </div>
</div>
